**/.git 
**/.gitignore
**/.DS_Store
**/._.DS_Store
**/._*
**/node_modules/
**/log/
**/logs/
mysql/
redis/
traefik/
jaeger/
grafana/
prometheus/
k8s/
ufw-docker
Dockerfile
docker-compose.yml
docker-compose.*.yml