MYSQL_STORE=/PATH/TO/REDIS_STORE 
MYSQL_PASSWD="rootPassword12#$"
REDIS_STORE=/PATH/TO/REDIS_STORE
DOMAIN_NAME=YOUR_DOMAIN_NAME 
EMAIL_ADDRESS=YOUR_EMAIL@gmail.com
LOCAL_DOMAIN_NAME=localhost
LOCAL_IP_ADDR=127.0.0.1
LAN_SUBNET=LAN_IP/SUBNET_MASK #example: 192.168.0.0/24