<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
<<<<<<< HEAD
        <title>Login</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link href="/css/style.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <header>
            <a href="#" class="logo">Logo</a>
            <nav id="swup-nav">
                <a href="/home" class="inactive">Home</a>
                <a href="/memo" class="inactive">Memo</a>
                <a href="/login" class="login">Login</a>
            </nav>
        </header>
        <div class="spinner"></div>
        <main id="swup" class="transition-fade">
            <div id="container" class="container">
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="box overlay-left">
                            <h2>Already have an account?</h2>
                            <button id="signIn" class="signinBtn">Sign in</button>
                        </div>
                        <div class="box overlay-right">
                            <h2>Don't have an account?</h2>
                            <button id="signUp" class="signupBtn">Sign up</button>   
                        </div>
                    </div>
                </div>
                <div class="form-container signin-container">
                    <form action="/auth/login" method="POST">
                        <h2>Login form</h2>
                        <input type="text" name="username" placeholder="username"/>
                        <input type="text" name="password" placeholder="password"/>
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div class="form-container signup-container">
                    <form action="/auth/register" method="POST">
                        <h2>Signup form</h2>
                        <input type="text" name="username" placeholder="enter a username"/>
                        <input type="text" name="password" placeholder="enter a password"/>
                        <button type="submit">Signup</button>
                    </form>
                </div>
            </div>
            <h3 style="color: <%= messageColor %>;">
                <%= message %>
            </h3>
        </main>
        <script>
            document.querySelector('#signUp').addEventListener('click', () => {
                container.classList.add("right-panel-active");
            });
            document.querySelector('#signIn').addEventListener('click', () => {
                container.classList.remove("right-panel-active");
            });
        </script>
=======
    </head>
    <body style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
        <div style="display:flex; flex-wrap: wrap;">
            <div style="border: 1px solid #000; border-radius: 3px; margin:20px; padding: 10px;">
                <h3>
                    Login form
                </h3>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="enter a username"/>
                    <input type="text" name="password" placeholder="password is 123"/>
                    <input type="submit" />
                </form>
            </div>
            <div style="border: 1px solid #000; border-radius: 3px; margin:20px; padding: 10px;">
                <h3>
                    Signup form
                </h3>
                <form action="/signup" method="POST">
                    <input type="text" name="username" placeholder="enter a username"/>
                    <input type="text" name="password" placeholder="password is 123"/>
                    <input type="submit" />
                </form>
            </div>
        </div>
>>>>>>> 2258311 (first commit)
    </body>
</html>