<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link href="/css/style.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <header>
            <a href="#" class="logo">Logo</a>
            <nav id="swup-nav">
                <a href="/home" class="inactive">Home</a>
                <a href="/memo" class="inactive">Memo</a>
                <a href="/login" class="login">Login</a>
            </nav>
        </header>
        <div class="spinner"></div>
        <main id="swup" class="transition-fade">
            <div class="login-container">
                <div class="login-bg" style="display: none">
                    <div class="box signin">
                        <h2>Already have an account?</h2>
                        <button class="signinBtn">Sign in</button>
                    </div>
                    <div class="box signup">
                        <h2>Don't have an account?</h2>
                        <button class="signupBtn">Sign up</button>
                    </div>
                </div>
                <div class="form-container">
                    <h3>
                        Login form
                    </h3>
                    <form action="/auth/login" method="POST">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="text" name="password" placeholder="password"/>
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div class="form-container">
                    <h3>
                        Signup form
                    </h3>
                    <form action="/auth/register" method="POST">
                        <input type="text" name="username" placeholder="enter a username"/>
                        <input type="text" name="password" placeholder="enter a password"/>
                        <button type="submit">Signup</button>
                    </form>
                </div>
            </div>
            <h3 style="color: <%= messageColor %>;">
                <%= message %>
            </h3>
        </main>
    </body>
</html>