* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    width: 100%;
    min-height: calc(100vh - 50px);
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0;
}

header > .logo {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

header > nav {
    display: flex;
    gap: 10px;
}

header > nav a {
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

header > nav a.active {
    background: #fff;
    color: #333;
}

header > nav a.active:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px #fff;
}

header > nav a.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px #fff;
}

header > nav a.login {
    background: #1e90ff;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 4px;
}

.spinner {
    display: none;
    transition-delay: 0.2s;
    position: fixed;
    top: 30%;
    left: 50%;
    border: 3px solid #fff; 
    border-top: 3px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main#swup {
    display:flex; 
    position: relative;
    flex-direction:column; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

main#swup > *:first-child {
    margin: 30px 0px 20px;
}

main#swup > div {
    display:flex; 
    flex-wrap: wrap;
    align-items: center;
}

#memoTitle {
    justify-content: space-between;
    gap: 10px;
}

#memoTitle > h2 {
    margin: 0;
}

#memoTitle > span {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #1e90ff;
    text-align: center;
}

#memoTitle > span:hover {
    box-shadow: 
        0px 0px 15px rgba(72, 127, 255, 0.1),
        0px 0px 10px rgba(72, 127, 255, 0.1);
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table > :not(caption) > * > * {
    padding: 1rem 1.4rem;
    border: 0px solid;
    border-color: #333;
    border-bottom-width: 1px;
}

h6.priority {
    font-weight: 500;
    line-height: 1.2;
}

h6.priority > span {
    border-radius: 0.27rem;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
}

h6.priority > span.high {
    background-color: rgb(220, 76, 100);
}

h6.priority > span.middle {
    background-color: rgb(228, 161, 27);
}

h6.priority > span.low {
    background-color: rgb(20,164,77);
}

tr > td:last-child > a:first-child {
    margin-right: 1rem;
    color: rgb(20,164,77);
}

tr > td:last-child > a:last-child {
    color: rgb(228, 161, 27);
}

dialog {
    padding: 20px 50px 40px;
    border-radius: 10px;
    border-width: 2px;
    border-color: darkslategray;
}

form#addform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

form#addform div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    position: relative;
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-container {
    position: absolute;
    display: flex;
    top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.15);
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -50%;
	height: 100%;
	width: 100%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay .box{
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	/* transform: translateX(0); */
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(100%);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(120%);
}

.form-container {
    position: absolute;
	top: 0;
	height: 100%;
    margin: 0; 
    padding: 10px;
    /* border: 1px solid #000;  */
    /* border-radius: 10px;  */
	transition: all 0.6s ease-in-out;
}

.form-container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    gap: 15px;
	padding: 10px 0 50px;
	height: 100%;
	text-align: center;
}

.form-container form h2 {
    margin-bottom: 60px;
}

.form-container > form > div {
    margin-top: -12px;
    font-size: 12px;
    align-items: start;
}

.signin-container {
    left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .signin-container {
    transform: translateX(100%);
}

.signup-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .signup-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.gallery-container {
    flex-direction: row !important;
}

.gallery-links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-right: 15px;
    overflow-y: auto;
    min-height: 30vh;
}

.gallery-display {
    position: relative;
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 70vw;
	min-width: 400px;
	height: 85vh;
}

/* swup animation */
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
}

html.is-animating #swup-nav a.active {
    transition: 0.2s;
    background: transparent;
    color: #fff;
}

html.is-animating #swup-nav a.active:before,
html.is-animating #swup-nav a.active:after {
    display: none;
}

html.is-leaving .spinner {
    display: block;
}